BACKEND_URL=http://localhost:8000/api/metrics
CONTAINER_BACKEND_URL=http://localhost:8000/api/metrics/containers
SYSTEM_ID=machine-001
HOSTNAME=my-machine
OS_NAME=Windows 11
AGENT_VERSION=1.0.0
INTERVAL_MS=5000